apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
          pods insecure
          fallthrough in-addr.arpa ip6.arpa
        }
        hosts /etc/coredns/NodeHosts {
          ttl 60
          reload 15s
          fallthrough
        }
        prometheus :9153
        cache 30
        loop
        reload
        loadbalance
        import /etc/coredns/custom/*.override
        forward . /etc/resolv.conf
    }
    import /etc/coredns/custom/*.server
  NodeHosts: |
    {{ hostvars['master']['ansible_default_ipv4']['address'] }} master
    {{ hostvars['worker1']['ansible_default_ipv4']['address'] }} worker1
    {{ hostvars['worker2']['ansible_default_ipv4']['address'] }} worker2
    {{ hostvars['worker3']['ansible_default_ipv4']['address'] }} worker3
    {{ hostvars['postgres']['ansible_default_ipv4']['address'] }} postgres
    {{ traefik_cluster_ip | default('10.43.245.181') }} surflocal.app www.surflocal.app api.surflocal.app
