# OS and Editor
.DS_Store
*~
*.swp
*.swo
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.pyc
*.pyo
*.py[cod]
venv/
env/
.venv/

# Logs
logs/
*.log

# Temporary files
*.tmp
*.bak
*.cache
