apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "grafana.fullname" . }}-datasources
  namespace: {{ .Values.metadata.namespace }}
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
    {{- range .Values.config.datasources }}
    - name: {{ .name }}
      type: {{ .type }}
      uid: {{ .uid | default "prometheus" }}
      url: {{ .url }}
      access: {{ .access }}
      isDefault: {{ .isDefault }}
      editable: {{ .editable }}
    {{- end }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "grafana.fullname" . }}-dashboards
  namespace: {{ .Values.metadata.namespace }}
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
    {{- range .Values.config.dashboardProviders }}
    - name: {{ .name }}
      orgId: {{ .orgId }}
      folder: {{ .folder | quote }}
      type: {{ .type }}
      disableDeletion: {{ .disableDeletion }}
      updateIntervalSeconds: {{ .updateIntervalSeconds }}
      allowUiUpdates: {{ .allowUiUpdates }}
      options:
        path: {{ .options.path }}
    {{- end }}
