minio:
  storageClass: "minio-storage"
  persistence:
    enabled: true
    size: 100Gi
    pvPath: "/mnt/ssd/minio-data"
  replicaCount: 1
  image:
    repository: "minio/minio"
    tag: "latest"
    pullPolicy: IfNotPresent
  ports:
    api: 9000
    web: 9001
    nodeApi: 31000
    nodeWeb: 31001
  buckets:
    - argo-logs
