apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "argo-workflows.fullname" . }}-controller-configmap
  namespace: {{ .Values.metadata.namespace }}
  labels:
    {{- include "argo-workflows.labels" . | nindent 4 }}
  {{- with .Values.metadata.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  config: |
    # Workflow controller configuration
