apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "argo-workflows.fullname" . }}-controller-configmap
  namespace: {{ .Values.metadata.namespace }}
  labels:
    {{- include "argo-workflows.labels" . | nindent 4 }}
  {{- with .Values.metadata.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  config: |
    # Artifact repository configuration
    artifactRepository:
      s3:
        bucket: argo-logs
        endpoint: master:31000
        insecure: true
        accessKeySecret:
          name: minio-creds
          key: accesskey
        secretKeySecret:
          name: minio-creds
          key: secretkey
